body {
    background-color: #d39447;

}

h1 {
    font-family: 'Roboto Slab', serif;

    font-size: 1.5rem;
    text-align: center;
    padding: 10px;


}
nav {
	background-color: #ab5f03;
	box-shadow: 0 2px 15px #ffe3c1;
}

		
nav ul {
    display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    text-align: center;
}
nav ul li { 
    flex: 1 1 100%; 
}
nav ul li a {
	display: block;
	color: white;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
     	background-color: #f0bf81;
        color: #22272a; 
        --d: 75%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    margin: 0.5rem;
	border: 1px solid #ab5f03;
	padding: 0 1rem;
	background-color: #ffe3c1;
}
main section {
    padding: 5px;
    margin: .5rem;
    background-color: #f0bf81;
}

main section img:nth-child(1) {
    margin-top: 1rem;
    width: 100%;
}

img {
    width: 100%
}
h2 {
    font-size: 2.5rem;
    text-align: center;
}
main p {
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: 'Lora', serif;
    font-size: 1rem;
}

footer {
    background-color: #ab5f03;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}
#byui-website {
    color:white;

}