body {
    background-color: #d39447;

}

h1 {
    font-family: 'Roboto Slab', serif;

    font-size: 1.5rem;
    text-align: center;
    padding: 10px;


}
nav {
	background-color: #ab5f03;
	box-shadow: 0 2px 15px #ffe3c1;
}

		
nav ul {
    display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    text-align: center;
}
nav ul li { 
    flex: 1 1 100%; 
}
nav ul li a {
	display: block;
	color: white;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
     	background-color: #f0bf81;
        color: #22272a; 
        --d: 75%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    margin: 0.5rem;
	border: 1px solid #ab5f03;
	padding: 0 1rem;
	background-color: #ffe3c1;
}
main section {
    padding: 5px;
    margin: .5rem;
    background-color: #f0bf81;
}

main section img:nth-child(1) {
    margin-top: 1rem;
    width: 100%;
}

img {
    width: 100%
}
main section h2 {
    font-size: 2.5rem;
    text-align: center;
}
main section p {
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: 'Lora', serif;
    font-size: 1rem;
}

footer {
    background-color: #ab5f03;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}
#byui-website {
    color:white;

}


#typo-background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: white;
    padding: .5rem;
    margin-top: 4rem;
}
#typo-background p {
    margin-top: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
}
#bg-color-typo2 {
    background-color: #f0bf81;
}
#bg-color-typo1 {
    background-color: #ab5f03;
    color: white;
}
#typo-h1 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    background-color: #ab5f03;
    border: 1px solid white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;

}
#typo-p {
    font-size: 3rem;
    font-family: 'Lora', serif;
    background-color: #f0bf81;
    border: 1px solid white;

}
#bg-color1 {
    background-color: #d39447;
}
#bg-color2 {
    background-color: #ab5f03;
}

#bg-color3 {
    background-color: #ffe3c1;
}
#bg-color4 {
    background-color: #f0bf81;
}
#make-white {
    color:white;
    background-color: black;
}
#bg-color5 {
    background-color: #ffffff;
}
#color-bg {
    display:grid;
    font-size: 5rem;
}

#description-color {
    font-size: 2rem;
    text-align: center;
    grid-column: 1/4;
    background-color: #f0bf81;
    margin: 1rem;
    padding: 1rem;
}

#target-bg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}
#target-bg h2 {
    text-align: center;
    font-size: 2.5rem;
}
#target-bg h3 {
    text-align: center;
    font-size: 2rem;
}
#target-bg p {
    text-align: center;
    font-size: 1rem;
    padding: 1rem
}

#space {
    grid-column: 2/3;
}
