@media only screen and (min-width: 60em) {
    header h1 {
        font-size: 3rem;
    }
    header img {
        width: 150px;
    }
    section h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    .contentbox {
        background-color: #f0bf81;
    }
    footer {
        font-size: 1rem;
    }
    .menu {
        display: none;
    }
    nav ul{
        display: flex;
        width: 960px;
        margin: 0 auto;
    }
    nav ul li a {
        padding: .6rem 1rem;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .hero-div {
        width: 960px;
    }
    .hero-img {
        width: 960px;
    }
    .article-div {
        margin: 10px auto;
        width: 960px;
        height: auto;
    }
    .article-img {
        padding: 1rem;
        margin-top: .5rem;
    }
    .article-heading {
        font-size: 2.5rem;
        text-align: center;
        padding-top: 1rem;
        margin-top: .15rem;
    }
    .article-sub {
        margin-left: 1rem;
    }
    .article-div p {
        padding: 1rem;
    }
    .contact-img {
        width: 400px;
        height: auto;
        padding: 1rem;
        margin-left: 1rem;
    }
    .contact-div {
        width: 960px;
    }
    .contact-info {
        margin-top: 3rem;

}