@media only screen and (min-width: 60em) {
    header h1 {
        font-size: 3rem;
    }
    header img {
        width: 150px;
    }
    main h2 {
        font-size: 3rem;
    }
    footer {
        font-size: 1rem;
    }
    nav ul{
        display: flex;
        width: 960px;
        margin: 0 auto;
    }
    nav ul li a {
        padding: .6rem 1rem;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    main section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    main span {
        font-size: 1.5rem;
    }
    
    .hero-img {
        width: 960px;
    }

    .towns-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .towns-div section {
        display: grid;
        grid-template-columns: auto;
        width: 400px;
    }
    .towns-div img {
        width: 100%;
    }
    .contact-img {
        width: 400px;
        padding: 1rem;
    }
    .contact-div {
        width: 960px;
    }
    .contact-info {
        margin-top: 3rem;
    }
}