@media (min-width: 32.5em) {
    .hero-img {
        width: 640px;
    }
    .towns-div {
        flex-wrap: wrap;
        padding: 1rem;
    }
    .towns-div section {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 0 auto;
    }
    .towns-div img {
        width: 640px;
    }
    .towns-div section:nth-child(even) {
        flex-direction: row-reverse;
    }
    .contact-div {
        width: 640px;
    }
    .contact-img {
        width: 300px;
        height: auto;
        padding: .75rem;
        margin-left: 1rem;
    }
}