header {
    background-color: #d39447;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 70px;
    height: auto;
    padding-right: 1rem;
}

main {
    background-color: #ffe3c1;
    text-align: left;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

main h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    margin-top: .5rem;
}


header h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}

footer {
    background-color: #ab5f03;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: .75rem;
}


nav {
    margin: 0 auto;
    background-color: #ab5f03;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav ul li a:hover {
    background-color: #f0bf81;
    color: black;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.navigation li:first-child {
    display: block;
}

.hero-img {
    display: block;
    width: 320px;
    margin: 0 auto;
}

.towns-div section {
    background-color: #f0bf81;
    border: 1px solid #666;
    margin: 10px;
    padding: 1rem;
    text-align: center;
}

.towns-div h2 {
    color: black;
    padding: .5rem 0 .1rem 0;
    margin-bottom: 10px;

}
.towns-div img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.towns-div p {
    font-weight: bold;
}

.towns-div h3 {
    font-size: .75rem;
}
.contact-img {
    width: 0px;
}
.contact-div {
    display: flex;
    margin: 10px auto;
    width: auto;
    height: auto;
    background-color: #f0bf81;
    text-align: center;
}
.contact-info {
    margin: 0 auto;
    font-weight: bold;
}
.events-div {
    background-color: #d39447;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    font-weight: bold;
}
