body {
    width: 960px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
}
img {
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 50%;

}
header {
    background-color: burlywood;
}